flows_robot_v2.json
[
    {
        "id": "afb7f47c37e464b1",
        "type": "tab",
        "label": "Test(22/03/24)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "56b7c5509b43139b",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "e9edeaf074a2af0a"
            ]
        ]
    },
    {
        "id": "e9edeaf074a2af0a",
        "type": "delay",
        "z": "afb7f47c37e464b1",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 260,
        "wires": [
            [
                "27b356cf2a9eeaaa"
            ]
        ]
    },
    {
        "id": "7141519885327e25",
        "type": "comment",
        "z": "afb7f47c37e464b1",
        "name": "Check Q3",
        "info": "Check Q3",
        "x": 160,
        "y": 220,
        "wires": []
    },
    {
        "id": "27b356cf2a9eeaaa",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Check working",
        "func": "var myData = flow.get(\"working\");\nif (myData === false){\n    msg.payload = \"<CheckQ3>\";\n    flow.set(\"working\", true);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 260,
        "wires": [
            [
                "384069a12d8390a4"
            ]
        ]
    },
    {
        "id": "d90cf1a77ddd7d04",
        "type": "link out",
        "z": "afb7f47c37e464b1",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "01ae6fea34f88c98",
            "5a24ced1291bac83"
        ],
        "x": 895,
        "y": 260,
        "wires": []
    },
    {
        "id": "2d5490845a15c490",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "0c9f46aa50ed8908"
            ]
        ]
    },
    {
        "id": "0c9f46aa50ed8908",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Check working status",
        "func": "var myData = flow.get(\"working\");\nmsg.payload = myData;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            [
                "52aea868c9d268c7"
            ]
        ]
    },
    {
        "id": "52aea868c9d268c7",
        "type": "debug",
        "z": "afb7f47c37e464b1",
        "name": "debug 66",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "7220542bd7d213a9",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Working False",
        "func": "flow.set(\"working\", false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1db02c0f61b2dab3",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "7220542bd7d213a9"
            ]
        ]
    },
    {
        "id": "b090f54492a87f7a",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Working True",
        "func": "flow.set(\"working\", true);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "5a914665319057a5",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "b090f54492a87f7a"
            ]
        ]
    },
    {
        "id": "199bde08c83bb05e",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "f78e559db340c2b5"
            ]
        ]
    },
    {
        "id": "f78e559db340c2b5",
        "type": "delay",
        "z": "afb7f47c37e464b1",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "663470dfe2dcbd96"
            ]
        ]
    },
    {
        "id": "532c633df8dc618a",
        "type": "comment",
        "z": "afb7f47c37e464b1",
        "name": "Remove Q3",
        "info": "# Remove Q3",
        "x": 170,
        "y": 340,
        "wires": []
    },
    {
        "id": "423b51d7a2a284c1",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Working False",
        "func": "flow.set(\"working\", false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 340,
        "wires": [
            [
                "18f5a2a891e7ac1b"
            ]
        ]
    },
    {
        "id": "d4b4fd77bce3ee0e",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 980,
        "wires": [
            [
                "66b6ef658f36dfdd"
            ]
        ]
    },
    {
        "id": "66b6ef658f36dfdd",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "function 18",
        "func": "var count = flow.get('count') || 1;\nif (count <= 4){\n    node.send({payload: count});\n    count++;\n    flow.set('count',count);\n}else{\n    node.send({payload: 1});\n    flow.set('count', 2);\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 920,
        "wires": [
            [
                "3995658615cb0836"
            ]
        ]
    },
    {
        "id": "3995658615cb0836",
        "type": "switch",
        "z": "afb7f47c37e464b1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 530,
        "y": 920,
        "wires": [
            [
                "120fd2d77854680a"
            ],
            [
                "5a5d341f4484e03e"
            ],
            [
                "e27f68920beccae0"
            ],
            [
                "906d46b2c2816096"
            ]
        ]
    },
    {
        "id": "5a5d341f4484e03e",
        "type": "matrix-robot-communicate-send-wait-receive",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "message": "<RequestQ3>",
        "message2": "<Q3Received:Pxi22>",
        "sendform": 1,
        "mode": 0,
        "checkwait": "1",
        "waitTime": "2",
        "x": 810,
        "y": 880,
        "wires": [
            [
                "d5f6a0b61f4f7ee1"
            ],
            [
                "555222c428aebc98",
                "fb9c978f11eda335"
            ]
        ]
    },
    {
        "id": "e27f68920beccae0",
        "type": "matrix-robot-communicate-send-wait-receive",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "message": "<RequestQ3>",
        "message2": "<Q3Received:Pxi23>",
        "sendform": 1,
        "mode": 0,
        "checkwait": "1",
        "waitTime": "2",
        "x": 810,
        "y": 920,
        "wires": [
            [
                "4d71ae28ec7b56e5"
            ],
            [
                "aff578a8ae1568e6",
                "fb9c978f11eda335"
            ]
        ]
    },
    {
        "id": "906d46b2c2816096",
        "type": "matrix-robot-communicate-send-wait-receive",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "message": "<RequestQ3>",
        "message2": "<Q3Received:Pxi24>",
        "sendform": 1,
        "mode": 0,
        "checkwait": "1",
        "waitTime": "2",
        "x": 810,
        "y": 960,
        "wires": [
            [
                "e530913ab76373d0"
            ],
            [
                "afe32e6080668ee4",
                "fb9c978f11eda335"
            ]
        ]
    },
    {
        "id": "120fd2d77854680a",
        "type": "matrix-robot-communicate-send-wait-receive",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "message": "<RequestQ3>",
        "message2": "<Q3Received:Pxi21>",
        "sendform": 1,
        "mode": 0,
        "checkwait": "1",
        "waitTime": "2",
        "x": 810,
        "y": 840,
        "wires": [
            [
                "f71a2a0d5691e753"
            ],
            [
                "9659bbab55ceb3da",
                "fb9c978f11eda335"
            ]
        ]
    },
    {
        "id": "f71a2a0d5691e753",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Success",
        "func": "msg.payload = \"success\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 740,
        "wires": [
            [
                "043068e0b621b9ac"
            ]
        ]
    },
    {
        "id": "9659bbab55ceb3da",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Time out",
        "func": "msg.payload = \"time out\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 780,
        "wires": [
            [
                "043068e0b621b9ac"
            ]
        ]
    },
    {
        "id": "555222c428aebc98",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Time out",
        "func": "msg.payload = \"time out\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 860,
        "wires": [
            [
                "043068e0b621b9ac"
            ]
        ]
    },
    {
        "id": "d5f6a0b61f4f7ee1",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Success",
        "func": "msg.payload = \"success\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 820,
        "wires": [
            [
                "043068e0b621b9ac"
            ]
        ]
    },
    {
        "id": "aff578a8ae1568e6",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Time out",
        "func": "msg.payload = \"time out\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 940,
        "wires": [
            [
                "043068e0b621b9ac"
            ]
        ]
    },
    {
        "id": "4d71ae28ec7b56e5",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Success",
        "func": "msg.payload = \"success\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 900,
        "wires": [
            [
                "043068e0b621b9ac"
            ]
        ]
    },
    {
        "id": "afe32e6080668ee4",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Time out",
        "func": "msg.payload = \"time out\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 1020,
        "wires": [
            [
                "043068e0b621b9ac"
            ]
        ]
    },
    {
        "id": "e530913ab76373d0",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "Success",
        "func": "msg.payload = \"success\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 980,
        "wires": [
            [
                "043068e0b621b9ac"
            ]
        ]
    },
    {
        "id": "fcba65ffa8767768",
        "type": "link in",
        "z": "afb7f47c37e464b1",
        "name": "link in 27",
        "links": [
            "fb9c978f11eda335"
        ],
        "x": 215,
        "y": 1020,
        "wires": [
            [
                "fd52d90377f5090c"
            ]
        ]
    },
    {
        "id": "fb9c978f11eda335",
        "type": "link out",
        "z": "afb7f47c37e464b1",
        "name": "ReceiveQ3 Time out",
        "mode": "link",
        "links": [
            "fcba65ffa8767768"
        ],
        "x": 1015,
        "y": 1060,
        "wires": []
    },
    {
        "id": "fd52d90377f5090c",
        "type": "loop",
        "z": "afb7f47c37e464b1",
        "name": "10",
        "kind": "fcnt",
        "count": "10",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "00067f6ec7883e3d"
            ],
            [
                "66b6ef658f36dfdd"
            ]
        ]
    },
    {
        "id": "2e228cb98bb02719",
        "type": "debug",
        "z": "afb7f47c37e464b1",
        "name": "debug 68",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1020,
        "wires": []
    },
    {
        "id": "00067f6ec7883e3d",
        "type": "function",
        "z": "afb7f47c37e464b1",
        "name": "No rack ready",
        "func": "msg.payload = \"There are no racks ready\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1020,
        "wires": [
            [
                "2e228cb98bb02719"
            ]
        ]
    },
    {
        "id": "d6b01739b7bdae8a",
        "type": "comment",
        "z": "afb7f47c37e464b1",
        "name": "Request Q3",
        "info": "# Remove Q3",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "5a24ced1291bac83",
        "type": "link in",
        "z": "afb7f47c37e464b1",
        "name": "link in 28",
        "links": [
            "bf535d25b84f2a99",
            "d90cf1a77ddd7d04"
        ],
        "x": 125,
        "y": 920,
        "wires": [
            [
                "66b6ef658f36dfdd"
            ]
        ]
    },
    {
        "id": "a857de958cccc6bf",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI1",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 1320,
        "y": 440,
        "wires": [
            [
                "4abd9e69243bdee3"
            ],
            [],
            []
        ]
    },
    {
        "id": "3c2e1edd352509af",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI2",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 1320,
        "y": 520,
        "wires": [
            [
                "4abd9e69243bdee3"
            ],
            [],
            []
        ]
    },
    {
        "id": "f62aa1407db334a8",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI3",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 1320,
        "y": 600,
        "wires": [
            [
                "4abd9e69243bdee3"
            ],
            [],
            []
        ]
    },
    {
        "id": "3af836e8f649994f",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI4",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 1320,
        "y": 680,
        "wires": [
            [
                "4abd9e69243bdee3"
            ],
            [],
            []
        ]
    },
    {
        "id": "4abd9e69243bdee3",
        "type": "delay",
        "z": "afb7f47c37e464b1",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1520,
        "y": 560,
        "wires": [
            [
                "1af0fcdbf6cac289"
            ]
        ]
    },
    {
        "id": "1af0fcdbf6cac289",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI5",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 1680,
        "y": 560,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "18f5a2a891e7ac1b",
        "type": "delay",
        "z": "afb7f47c37e464b1",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1120,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e61a0ad72aa22665",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI4",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 320,
        "y": 1840,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "346a8498fe47a74a",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI3",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 320,
        "y": 1780,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "66979f51a027cabd",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI2",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 320,
        "y": 1720,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b38899dda8f97e7b",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI1",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 320,
        "y": 1660,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "cf3d3adc2a548938",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI5",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 320,
        "y": 1600,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "205e9fef5ee7bddf",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1600,
        "wires": [
            [
                "cf3d3adc2a548938"
            ]
        ]
    },
    {
        "id": "452ccfdba2ec97ff",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1660,
        "wires": [
            [
                "b38899dda8f97e7b"
            ]
        ]
    },
    {
        "id": "3d426732ea5a7d20",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1720,
        "wires": [
            [
                "66979f51a027cabd"
            ]
        ]
    },
    {
        "id": "bcc1cb9a5dc24498",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1780,
        "wires": [
            [
                "346a8498fe47a74a"
            ]
        ]
    },
    {
        "id": "e8752703e9432943",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 162.5,
        "y": 1841.25,
        "wires": [
            [
                "e61a0ad72aa22665"
            ]
        ]
    },
    {
        "id": "2a81a9c7bf81597a",
        "type": "matrix-robot-cancel-move",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "distance": 0,
        "maxspeed": 0,
        "x": 330,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "c986d8407fba758c",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1540,
        "wires": [
            [
                "2a81a9c7bf81597a"
            ]
        ]
    },
    {
        "id": "a30ddb25d448fb31",
        "type": "matrix-robot-cancel-flow",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "x": 330,
        "y": 1500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "81b9a2498e8a26be",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1500,
        "wires": [
            [
                "a30ddb25d448fb31"
            ]
        ]
    },
    {
        "id": "46e977e0230be599",
        "type": "matrix-robot-battery-mobile",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "statusR": 0,
        "x": 710,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "f6984efda89f6220",
        "type": "inject",
        "z": "afb7f47c37e464b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 1500,
        "wires": [
            [
                "46e977e0230be599"
            ]
        ]
    },
    {
        "id": "043068e0b621b9ac",
        "type": "debug",
        "z": "afb7f47c37e464b1",
        "name": "debug 69",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 860,
        "wires": []
    },
    {
        "id": "c6ef502cb7c4a3a0",
        "type": "mqtt out",
        "z": "afb7f47c37e464b1",
        "name": "",
        "topic": "robot_send_",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0d5a7fd2297affe1",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "384069a12d8390a4",
        "type": "link out",
        "z": "afb7f47c37e464b1",
        "name": "link out 29",
        "mode": "link",
        "links": [
            "fbb57d869869073a"
        ],
        "x": 655,
        "y": 260,
        "wires": []
    },
    {
        "id": "fbb57d869869073a",
        "type": "link in",
        "z": "afb7f47c37e464b1",
        "name": "link in 29",
        "links": [
            "384069a12d8390a4",
            "d36278cc69a6eb9a",
            "d92de925f9f08b59"
        ],
        "x": 835,
        "y": 120,
        "wires": [
            [
                "c6ef502cb7c4a3a0",
                "4b3abfe749d1472a"
            ]
        ]
    },
    {
        "id": "79ce5dfa882fe97f",
        "type": "mqtt in",
        "z": "afb7f47c37e464b1",
        "name": "",
        "topic": "server_send_",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0d5a7fd2297affe1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 890,
        "y": 180,
        "wires": [
            [
                "1ab77dd0762a3480",
                "7b8b8cda115551ea"
            ]
        ]
    },
    {
        "id": "1ab77dd0762a3480",
        "type": "link out",
        "z": "afb7f47c37e464b1",
        "name": "link out 30",
        "mode": "link",
        "links": [
            "4eb4b5f2ecf22f22"
        ],
        "x": 995,
        "y": 180,
        "wires": []
    },
    {
        "id": "663470dfe2dcbd96",
        "type": "change",
        "z": "afb7f47c37e464b1",
        "name": "RemoveQ3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<RemoveQ3>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "working",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 380,
        "wires": [
            [
                "d36278cc69a6eb9a"
            ]
        ]
    },
    {
        "id": "d36278cc69a6eb9a",
        "type": "link out",
        "z": "afb7f47c37e464b1",
        "name": "link out 31",
        "mode": "link",
        "links": [
            "fbb57d869869073a"
        ],
        "x": 645,
        "y": 380,
        "wires": []
    },
    {
        "id": "d40c2c52d1f525ac",
        "type": "switch",
        "z": "afb7f47c37e464b1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "<Q3Checked>",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "<Q3Received:Pxi21>",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "<Q3Received:Pxi22>",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "<Q3Received:Pxi23>",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "<Q3Received:Pxi24>",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 250,
        "y": 540,
        "wires": [
            [
                "4a2064863e21cc4d"
            ],
            [
                "4869fafd09bd58f5"
            ],
            [
                "89ca5176c04bdb9c"
            ],
            [],
            []
        ]
    },
    {
        "id": "4eb4b5f2ecf22f22",
        "type": "link in",
        "z": "afb7f47c37e464b1",
        "name": "link in 30",
        "links": [
            "1ab77dd0762a3480"
        ],
        "x": 125,
        "y": 540,
        "wires": [
            [
                "d40c2c52d1f525ac"
            ]
        ]
    },
    {
        "id": "fb0e0de1aba34ffb",
        "type": "switch",
        "z": "afb7f47c37e464b1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "4a2064863e21cc4d",
        "type": "change",
        "z": "afb7f47c37e464b1",
        "name": "RequestQ3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<RequestQ3>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 500,
        "wires": [
            [
                "d92de925f9f08b59"
            ]
        ]
    },
    {
        "id": "d92de925f9f08b59",
        "type": "link out",
        "z": "afb7f47c37e464b1",
        "name": "link out 32",
        "mode": "link",
        "links": [
            "fbb57d869869073a"
        ],
        "x": 575,
        "y": 500,
        "wires": []
    },
    {
        "id": "4869fafd09bd58f5",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI1",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 420,
        "y": 540,
        "wires": [
            [
                "15fda0637bd013f7"
            ],
            [],
            []
        ]
    },
    {
        "id": "89ca5176c04bdb9c",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI2",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "15fda0637bd013f7"
            ],
            [],
            []
        ]
    },
    {
        "id": "15fda0637bd013f7",
        "type": "delay",
        "z": "afb7f47c37e464b1",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 540,
        "wires": [
            [
                "c019cd3ad5073e04"
            ]
        ]
    },
    {
        "id": "c019cd3ad5073e04",
        "type": "matrix-robot-movement",
        "z": "afb7f47c37e464b1",
        "matrix": "e742c75e38638836",
        "poi": "POI3",
        "mode": "PO",
        "modepoies": 0,
        "backward": 0,
        "x": 800,
        "y": 540,
        "wires": [
            [
                "f78e559db340c2b5"
            ],
            [],
            []
        ]
    },
    {
        "id": "4b3abfe749d1472a",
        "type": "debug",
        "z": "afb7f47c37e464b1",
        "name": "debug 363",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 60,
        "wires": []
    },
    {
        "id": "7b8b8cda115551ea",
        "type": "debug",
        "z": "afb7f47c37e464b1",
        "name": "debug 364",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 220,
        "wires": []
    },
    {
        "id": "e742c75e38638836",
        "type": "matrix-robot-ros"
    },
    {
        "id": "0d5a7fd2297affe1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.103",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]